<div class="container">
    <div id="login">
        <div class="card">
            <div class="card-content">
                <h4 class="card-title center">Login</h4>
                <div class="input-field">
                    <label for="username"><span class="fa fa-user-circle"></span> Username</label>
                    <input type="text" id="username" ng-model="username">
                </div>
                <div class="input-field">
                    <label for="password"><span class="fa fa-lock"></span> Password</label>
                    <input type="password" id="password" ng-model="password">
                </div>
                <div class="center">
                    <button class="btn waves-effect waves-light" ng-click="login()">Log In</button>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#enseignant" class="hide"></a>